<mosaic-row>
  <mosaic-col md="3" class="clearfix">
    <mosaic-pagination [totalItems]="totalItems" [(ngModel)]="page" [itemsPerPage]="itemsPerPage" (pageChanged)="changePage($event)"
                      total-count="totalItems"
                      page-size="itemsPerPage"
                      visible-page-count="5"
                      start-page="1"></mosaic-pagination>
  </mosaic-col>
  <mosaic-col md="1" class="clearfix">
    <mosaic-select-input name="" (change)="pageSizeChanged($event.target.value)">
      <option value="10">10</option>
      <option value="25">25</option>
      <option value="50">50</option>
      <option value="{{totalItems}}">All</option>
    </mosaic-select-input>
  </mosaic-col>
</mosaic-row>
