<div class="kpi-dashboard">
  <h2 class="page-header">KPI Dashboard</h2>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-4">
        <supplier-insights-small-chart [options]="initTopCategoriesChart()"></supplier-insights-small-chart>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4">
        <supplier-insights-small-chart [options]="initTopProductsChart()"></supplier-insights-small-chart>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4">
        <supplier-insights-small-chart [options]="initTopCustomersChart()"></supplier-insights-small-chart>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-4">
        <supplier-insights-order-table [title]="'Purchase Orders'" [minHeight]="minHeight" [items]="initPurchaseOrdersTable()"></supplier-insights-order-table>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4">
        <supplier-insights-order-table [title]="'On and Off Catalogue Orders'" [minHeight]="minHeight" [items]="initOnOffCatalogueOrdersTable()"></supplier-insights-order-table>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4">
        <supplier-insights-order-table [items]="initInvoiceTable()" [minHeight]="minHeight" [title]="'Invoices'"></supplier-insights-order-table>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Search Insights</h4>
            <div class="card-text">
              <div [ngStyle]="{'min-height': minHeight}">
                <table class="table">
                  <tr>
                    <th>Top Searches</th>
                    <th>Active Users</th>
                    <th>Searches Returning your products</th>
                  </tr>
                  <tr>
                    <td>
                      <div>60</div>
                      <div class="text-success">1100.00%
                        <svg width="18" height="18">
                          <use href="#arrow-alt-circle-up" xlink:href="#arrow-alt-circle-up"></use>
                        </svg>
                      </div>
                    </td>
                    <td>
                      <div>6</div>
                      <div class="text-success">100.00%
                        <svg width="18" height="18">
                          <use href="#arrow-alt-circle-up" xlink:href="#arrow-alt-circle-up"></use>
                        </svg>
                      </div>
                    </td>
                    <td>7</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6">
        <supplier-insights-small-chart [options]="initMarketShareByCategoryChart()"></supplier-insights-small-chart>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <supplier-insights-big-chart [options]="initWeeklyOrderValueChart()"></supplier-insights-big-chart>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title">Discount on List Price</h2>
            <div class="card-text">
              <table class="table table-borderless text-center table-layout-fixed">
                <tr>
                  <td class="border-right">Total Catalogue Order Value</td>
                  <td class="border-right">Total Catalogue Order Value at List Price</td>
                  <td class="border-right">Total Discount</td>
                  <td>Total Percentage Discount</td>
                </tr>
                <tr>
                  <th class="border-right"><h3>9590.44</h3></th>
                  <th class="border-right"><h3>9575.33</h3></th>
                  <th class="border-right"><h3>-11.11</h3></th>
                  <th><h3>-0.12%</h3></th>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
