@import "../assets/libs/common";

/* Fixed footer */
.app-wrapper {
  min-height: calc(100vh - #{$footer-height} - 70px);
}

.menu-toggle {
  cursor: pointer;
}

/*menu toggle*/
.menu-toggle .icon {
  transition: .3s ease;
  &.sidebar-toggled {
    transform: rotate(180deg);
  }
}
