<mosaic-page sidebar bottomnav>
 <mosaic-navbar dark fixed-top>
   <mosaic-navbar-brand name="Buyer Insights"></mosaic-navbar-brand>
   <mosaic-navbar-menu-toggle></mosaic-navbar-menu-toggle>
   <mosaic-navbar-collapse-sidebar>
     <mosaic-navbar-sidebar-toggle></mosaic-navbar-sidebar-toggle>
     <mosaic-navbar-navigation>
       <mosaic-navbar-nav-item>
         <a href="#">
           <mosaic-icon name="speech_bubble"></mosaic-icon>
           <div>Feedback</div>
         </a>
       </mosaic-navbar-nav-item>
       <mosaic-navbar-nav-item>
         <a href="#">
           <mosaic-icon name="help"></mosaic-icon>
           <div>Help</div>
         </a>
       </mosaic-navbar-nav-item>
     </mosaic-navbar-navigation>
   </mosaic-navbar-collapse-sidebar>
 </mosaic-navbar>
 <mosaic-content-container>
   <mosaic-sidebar-container>
     <mosaic-sidebar-nav-item>
       <a routerLink="/kpi-dashboard" routerLinkActive="active">
        <div>KPI Dashboard</div>
       </a>
     </mosaic-sidebar-nav-item>
     <mosaic-sidebar-nav-item>
        <a routerLink="/purchase-orders" routerLinkActive="active">
          <div>Purchase Orders</div>
        </a>
     </mosaic-sidebar-nav-item>
   </mosaic-sidebar-container>

   <mosaic-main-container fluid>
      <router-outlet #outlet="outlet"></router-outlet>
   </mosaic-main-container>

 </mosaic-content-container>
 
 <mosaic-bottom-navigation>
  <mosaic-collapse id="bottom-more">
   <mosaic-nav>
    <a href="#">
     <mosaic-icon name="home"></mosaic-icon>
     <div>More</div>
    </a>
    <a href="#">
     <mosaic-icon name="settings"></mosaic-icon>
     <div>Links</div>
    </a>
   </mosaic-nav>
  </mosaic-collapse>
  <mosaic-nav>
   <a href="#">
    <mosaic-icon name="home"></mosaic-icon>
    <div>Home</div>
   </a>
   <a href="#">
    <mosaic-icon name="settings"></mosaic-icon>
    <div>Settings</div>
   </a>
   <a href="#" collapse="bottom-more">
    <mosaic-icon name="menu_2"></mosaic-icon>
    <div>More</div>
   </a>
  </mosaic-nav>
 </mosaic-bottom-navigation>
</mosaic-page>