@import "../assets/libs/common";

/* Fixed footer */
.app-wrapper {
  min-height: calc(100vh - #{$footer-height} - 70px);
}

.menu-toggle {
  cursor: pointer;

  .icon {
    transition: transform .3s ease;
  }
}

// .main-container {
//   background: url('../assets/images/pattern_triangular.png') left top no-repeat #f6f6f6;
// }
