<div class="purchase-orders">
  <div class="page-header__title">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">KPI Dashboard</a></li>
        <li class="breadcrumb-item active" aria-current="page">Purchase Orders</li>
      </ol>
    </nav>
  </div>
  <div class="container-fluid">

    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-2">
            <label for="customer">Customer</label>
            <select name="customer" id="customer" class="form-control">
              <option value="">All</option>
            </select>
          </div>
          <div class="col-2">
            <label for="date-period">Date Period</label>
            <input type="text" class="form-control" id="date-period" name="date-period">
          </div>
          <div class="col-2">
            <label for="category">Category</label>
            <select name="category" id="category" class="form-control">
              <option value="">All</option>
            </select>
          </div>
          <div class="col-2">
            <label for="currency">Currency</label>
            <select name="currency" id="currency" class="form-control">
              <option value="">£</option>
              <option value=""></option>
            </select>
          </div>
          <div class="col-2">
            <label for="order-status">Order Status</label>
            <select name="order-status" id="order-status" class="form-control">
              <option value="">All</option>
            </select>
          </div>
          <div class="col-2">
            <label class="d-block">&nbsp;</label>
            <button class="btn btn-info">Apply filters</button>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">
          Weekly Order Value - Completed / Pending
        </h4>
        <div class="card-text">
          <div id="weekly-order-value-chart" style="width: 100%; min-height: 400px"></div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Purchase Order List</h4>
        <div class="card-text">
          <div class="mb-2">
            <supplier-insights-pagination [totalItems]="100" [page]="1" [itemsPerPage]="10" [maxSize]="5"
            (pageChanged)="changePage($event, true)" (setPageSize)="setPageSize($event)"></supplier-insights-pagination>
            <div class="float-right">
              <button class="btn btn-primary mr-2">Export Purchase Orders (.csv)</button>
              <button class="btn btn-primary">Export Order Lines (.csv)</button>
            </div>
          </div>
          <table class="table table-bordered">
            <tr>
              <th>PO Date</th>
              <th>Buyer Company</th>
              <th>Buyer Email</th>
              <th>PO Number</th>
              <th>Order Total Value</th>
              <th>Order Status</th>
            </tr>
            <tr *ngFor="let i of [1,2,3,4,5,6,7,8,9,0]">
              <td>2019/04/12</td>
              <td>Regression Purchase Requisition 2.0 company</td>
              <td>tmullen10@gmail.com</td>
              <td>7201735</td>
              <td>11.11</td>
              <td>Completed</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
