<!--The content below is only a placeholder and can be replaced.-->
<supplier-insights-mosaic-icons></supplier-insights-mosaic-icons>
<div class="page sidebar-visible">
  <!--main navbar-->
  <nav class="navbar fixed-top navbar-dark navbar-expand-lg">
    <a href="#" class="navbar-brand">
      <img src="../assets/images/advanced-logo.svg" alt="Advanced">
      <span>Supplier Insights</span>
    </a>
    <button class="hamburger hamburger--collapse" type="button" aria-label="Toggle navigation" aria-controls="navigation" data-toggle="collapse"
            data-target="#navbar-minimum-collapse">
      <span class="hamburger-label">Menu</span>
      <span class="hamburger-box">
      <span class="hamburger-inner"></span>
    </span>
    </button>
    <div class="collapse navbar-collapse" id="navbar-minimum-collapse">
      <ul class="navbar-sidebar-toggle nav">
        <li class="nav-item">
          <a href="javascript:void(0)" class="nav-link d-flex menu-toggle" tabindex="0" role="button">
            <svg class="icon">
              <use xlink:href="#arrow-left" href="#arrow-left"></use>
            </svg>
            <div>Menu</div>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a href="#" class="nav-link">
            <svg class="icon">
              <use xlink:href="#comment" href="#comment"></use>
            </svg>
            <div>Feedback</div>
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">
            <svg class="icon mr-lg-0 mr-xl-1">
              <use xlink:href="#question-circle" href="#question-circle"></use>
            </svg>
            <div class='d-block d-lg-none d-xl-block'>Help</div>
          </a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="content-container">
    <!--sidebar-->
    <div class="sidebar-container">
      <div class="sidebar my-4">
        <div class="nav-sidebar w-100">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a href="#" class="d-flex nav-link">
                <div>KPI Dashboard</div>
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="d-flex nav-link">
                <div>Purchase Orders</div>
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="d-flex nav-link">
                <div>On/Off Catalogue Orders</div>
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="d-flex nav-link">
                <div>Invoices</div>
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="d-flex nav-link">
                <div>Top Categories</div>
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="d-flex nav-link">
                <div>Top Customers</div>
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="d-flex nav-link">
                <div>Top Products</div>
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="d-flex nav-link">
                <div>Market Share</div>
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="d-flex nav-link">
                <div>Search Insights</div>
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="d-flex nav-link">
                <div>Search Term Insights</div>
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="d-flex nav-link">
                <div>Discount on List Price</div>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!--main content-->
    <div class="main-container">
      <div class="app-wrapper">
        <router-outlet></router-outlet>
      </div>
      <supplier-insights-footer></supplier-insights-footer>
    </div>
  </div>
</div>


