<div class="invoices-orders">
  <div class="page-header__title">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#" routerLink="/kpi-dashboard">KPI Dashboard</a></li>
        <li class="breadcrumb-item active" aria-current="page">Top Categories</li>
      </ol>
    </nav>
  </div>
  <div class="container-fluid">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-3">
            <label for="customer"><b>Customer</b></label>
            <select name="customer" id="customer" class="form-control">
              <option value="">All</option>
            </select>
          </div>
          <div class="col-3">
            <label for="date-period"><b>Date Period</b></label>
            <input type="text" class="form-control" id="date-period" name="date-period">
          </div>
          <div class="col-3">
            <label for="currency"><b>Currency</b></label>
            <select name="currency" id="currency" class="form-control">
              <option value="">£</option>
              <option value=""></option>
            </select>
          </div>
          <div class="col-3">
            <label class="d-block">&nbsp;</label>
            <button class="btn btn-info">Apply filters</button>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <supplier-insights-bar-chart [options]="initTopCategoriesByOrderValueChart()"></supplier-insights-bar-chart>
      </div>
      <div class="col-sm-12 col-md-6">
        <supplier-insights-bar-chart [options]="initTopCategoriesByOrderLinesChart()"></supplier-insights-bar-chart>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Order Value and Order Lines by Category</h4>
        <div class="card-text">
          <div class="mb-2">
            <supplier-insights-pagination [totalItems]="100" [page]="1" [itemsPerPage]="10" [maxSize]="5"
                                          (pageChanged)="changePage($event, true)" (setPageSize)="setPageSize($event)"></supplier-insights-pagination>
            <div class="float-right">
              <button class="btn btn-primary">Export Table</button>
            </div>
          </div>
          <table class="table table-bordered">
            <tr class="bg-light">
              <th>Category Name</th>
              <th>Order Value</th>
              <th>Order Lines</th>
            </tr>
            <tr *ngFor="let i of [1,2,3,4,5,6,7,8,9,0]">
              <td>Microcentrifuge Tubes</td>
              <td>5,618.25</td>
              <td>70</td>
            </tr>
            <tr class="btn-light">
              <th>Totals:</th>
              <th>8101.56</th>
              <th>104</th>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
