<mosaic-page-header title="KPI Dashboard"></mosaic-page-header>

<mosaic-row>
  <mosaic-col md="4">
    <a class="link-card" routerLink="/purchase-orders">
      <mosaic-card>
        <mosaic-card-header title="Purchase Orders" badge="1 year" badge-color="info"></mosaic-card-header>
        <mosaic-card-body>
          <mosaic-table striped bordered hover>
              <table>
                <thead>
                  <tr>
                    <th>&nbsp;</th>
                    <th>Count</th>
                    <th>Amount</th>
                    <th>Variance</th>
                  </tr>
                </thead>
                <tr *ngFor="let entry of purchaseOrderData">
                  <td>{{entry.status}}</td>
                  <td>{{entry.count}}</td>
                  <td>{{entry.amount}}</td>
                  <td>{{entry.variance}}</td>
                </tr>
              </table>
          </mosaic-table>
        </mosaic-card-body>
      </mosaic-card>
    </a>
  </mosaic-col>
  <mosaic-col md="4">
    <a class="link-card" routerLink="/on-off-catalogue-orders">
      <mosaic-card>
        <mosaic-card-header title="On and Off Catalogue Orders" badge="1 year" badge-color="info"></mosaic-card-header>
        <mosaic-card-body>
          <mosaic-table striped bordered hover>
            <table>
              <thead>
                <tr>
                  <th>&nbsp;</th>
                  <th>Count</th>
                  <th>Amount</th>
                  <th>Variance</th>
                </tr>
              </thead>
              <tr *ngFor="let entry of catalogueOrderData">
                <td>{{entry.status}}</td>
                <td>{{entry.count}}</td>
                <td>{{entry.amount}}</td>
                <td>{{entry.variance}}</td>
              </tr>
            </table>
          </mosaic-table>
        </mosaic-card-body>
      </mosaic-card>
    </a>
  </mosaic-col>
  <mosaic-col md="4">
    <a class="link-card" routerLink="/invoices">
      <mosaic-card>
        <mosaic-card-header title="Invoices" badge="1 year" badge-color="info"></mosaic-card-header>
        <mosaic-card-body>
          <mosaic-table striped bordered hover>
            <table>
              <thead>
                <tr>
                  <th>&nbsp;</th>
                  <th>Count</th>
                  <th>Amount</th>
                  <th>Variance</th>
                </tr>
              </thead>
              <tr *ngFor="let entry of invoiceData">
                <td>{{entry.status}}</td>
                <td>{{entry.count}}</td>
                <td>{{entry.amount}}</td>
                <td>{{entry.variance}}</td>
              </tr>
            </table>
          </mosaic-table>
        </mosaic-card-body>
      </mosaic-card>
    </a>
  </mosaic-col>
</mosaic-row>

<mosaic-row>
  <mosaic-col md="6">
    <a class="link-card" routerLink="/purchase-orders">
    <mosaic-card>
      <mosaic-card-header title="Savings On List Price" badge="1 year" badge-color="info"></mosaic-card-header>
      <mosaic-card-body>
        <mosaic-table class="text-center">
          <table class="large-data-table">
            <thead>
              <tr>
                <th><h5>Total Catalogue Order Value</h5></th>
                <th><h5>Total Catalogue Order Value at List Price</h5></th>
                <th><h5>Total Savings</h5></th>
                <th><h5>Total Percentage Savings</h5></th>
              </tr>
            </thead>
            <tr>
              <td>£392,071.01</td>
              <td>£392,071.01</td>
              <td>0.00</td>
              <td>0.00%</td>
            </tr>
          </table>
        </mosaic-table>
      </mosaic-card-body>
    </mosaic-card>
    </a>
  </mosaic-col>
  <mosaic-col md="6">
    <a class="link-card" routerLink="/purchase-orders">
    <mosaic-card>
      <mosaic-card-header title="Marketplace Acitivity" badge="1 year" badge-color="info"></mosaic-card-header>
      <mosaic-card-body>
        <mosaic-table class="text-center">
          <table class="large-data-table">
            <thead>
              <tr>
                <th><h5>Search Response Time</h5></th>
                <th><h5>Total Searches</h5></th>
                <th><h5>Active Users</h5></th>
                <th><h5>New Users</h5></th>
              </tr>
            </thead>
            <tr>
              <td>0.09</td>
              <td>16</td>
              <td>2</td>
              <td>0</td>
            </tr>
            <tr>
              <td>Seconds</td>
              <td>-67.35%</td>
              <td>-77.78%</td>
              <td>-100.00%</td>
            </tr>
          </table>
        </mosaic-table>
      </mosaic-card-body>
    </mosaic-card>
    </a>
  </mosaic-col>
</mosaic-row>

<mosaic-row>
  <mosaic-col md="12">
    <a class="link-card" routerLink="/purchase-orders">
    <mosaic-card>
      <mosaic-card-header title="Weekly Order Value - Completed Orders" badge="1 year" badge-color="info"></mosaic-card-header>
      <mosaic-card-body>
        <google-chart [type]="'LineChart'" [data]="weeklyOrdersData.data" [columnNames]="weeklyOrdersData.columnNames" [options]="weeklyOrdersData.options" style="width: 100%; min-height: 400px;" [dynamicResize]="true"></google-chart>
      </mosaic-card-body>
    </mosaic-card>
    </a>
  </mosaic-col>
</mosaic-row>

<mosaic-row>
  <mosaic-col sm="6" md="3">
    <mosaic-card>
      <mosaic-card-header title="Highest Spend Categories" badge="1 year" badge-color="info"></mosaic-card-header>
      <mosaic-card-body>
        <google-chart [type]="'BarChart'" [data]="topSpendCategories.data" [columnNames]="topSpendCategories.cols" [options]="topSpendCategories.options" style="width: 100%; height: 100%;" [ngClass]="{ 'mb-2': true }"></google-chart>
      </mosaic-card-body>
    </mosaic-card>
  </mosaic-col>
  <mosaic-col sm="6" md="3">
    <mosaic-card>
      <mosaic-card-header title="Highest Spend Products" badge="1 year" badge-color="info"></mosaic-card-header>
      <mosaic-card-body>
        <google-chart [type]="'BarChart'" [data]="topSpendProducts.data" [columnNames]="topSpendProducts.cols" [options]="topSpendProducts.options" style="width: 100%; height: 100%;" [ngClass]="{ 'mb-2': true }"></google-chart>
      </mosaic-card-body>
    </mosaic-card>
  </mosaic-col>
  <mosaic-col sm="6" md="3">
    <mosaic-card>
      <mosaic-card-header title="Highest Spend Suppliers" badge="1 year" badge-color="info"></mosaic-card-header>
      <mosaic-card-body>
        <google-chart [type]="'BarChart'" [data]="topSpendSuppliers.data" [columnNames]="topSpendSuppliers.cols" [options]="topSpendSuppliers.options" style="width: 100%; height: 100%;" [ngClass]="{ 'mb-2': true }"></google-chart>
      </mosaic-card-body>
    </mosaic-card>
  </mosaic-col>
  <mosaic-col sm="6" md="3">
    <mosaic-card>
      <mosaic-card-header title="Highest Spend Business Units" badge="1 year" badge-color="info"></mosaic-card-header>
      <mosaic-card-body>
        <google-chart [type]="'BarChart'" [data]="topSpendBusinessUnits.data" [columnNames]="topSpendBusinessUnits.cols" [options]="topSpendBusinessUnits.options" style="width: 100%; height: 100%;" [ngClass]="{ 'mb-2': true }"></google-chart>
      </mosaic-card-body>
    </mosaic-card>
  </mosaic-col>
</mosaic-row>