.large-data-table {
  th {
    width: 20%;
    vertical-align: top;
  }
  td,
  th {
    border: none;
    border-right: 1px solid #dee2e6;
    font-size: 1.09375rem;
    
    h5 {
      line-height: 1.5;
    }

    &:last-child {
      border-right: none;
    }
  }
}