
<mosaic-page-header title="Purchase Orders"></mosaic-page-header>
<div class="main-inner py-4 px-2">
  <div class="container-fluid">
    <mosaic-container>
      <mosaic-card>
        <mosaic-card-body>
          <mosaic-form>
            <mosaic-row>
              <mosaic-col md="2" class="clearfix">
                <mosaic-select-input name="customer" label="Supplier">
                  <option value="">All</option>
                  <option value="value 1">Value 1</option>
                  <option value="value 2">Value 2</option>
                  <option value="value 3">Value 3</option>
                </mosaic-select-input>
              </mosaic-col>
              <mosaic-col md="2" class="clearfix">
                <mosaic-datetime-picker name="date-period" label="Date Period" range></mosaic-datetime-picker>
              </mosaic-col>
              <mosaic-col md="2" class="clearfix">
                <mosaic-select-input name="Currency" label="Currency">
                  <option value="">£</option>
                  <option value="value 1">Value 1</option>
                  <option value="value 2">Value 2</option>
                  <option value="value 3">Value 3</option>
                </mosaic-select-input>
              </mosaic-col>
              <mosaic-col md="2" class="clearfix">
                <mosaic-select-input name="order-status" label="Order Status">
                  <option value="">All</option>
                  <option value="value 1">Value 1</option>
                  <option value="value 2">Value 2</option>
                  <option value="value 3">Value 3</option>
                </mosaic-select-input>
              </mosaic-col>
              <mosaic-col md="2" class="clearfix">
                <mosaic-select-input name="data-level" label="Data Level">
                  <option value="">Company</option>
                  <option value="value 1">Value 1</option>
                  <option value="value 2">Value 2</option>
                  <option value="value 3">Value 3</option>
                </mosaic-select-input>
              </mosaic-col>
              <mosaic-col md="2" class="clearfix">
                <label for="" class="d-block">&nbsp;</label>
                <mosaic-button color="primary" icon="checkmark">Apply filters</mosaic-button>
              </mosaic-col>
            </mosaic-row>
          </mosaic-form>
        </mosaic-card-body>
      </mosaic-card>

      <mosaic-card>
        <mosaic-card-header title="Summary Figures"></mosaic-card-header>
        <mosaic-card-body>
          <table class="table text-center large-data-table w-100">
            <thead>
              <tr>
                <th><h5>Total Completed Orders</h5></th>
                <th><h5>Total Completed Order Lines</h5></th>
                <th><h5>Total Completed Order Value</h5></th>
                <th><h5>Total Pending Orders</h5></th>
                <th><h5>Total Cancelled Orders</h5></th>
              </tr>
            </thead>
            <tr>
              <td>198</td>
              <td>410</td>
              <td>436,428.90</td>
              <td>78</td>
              <td>2</td>
            </tr>
          </table>
        </mosaic-card-body>
      </mosaic-card>

      <mosaic-card>
        <mosaic-card-header title="Weekly Order Value - Completed / Pending"></mosaic-card-header>
        <mosaic-card-body>
          <google-chart [type]="'LineChart'" [data]="weeklyOrdersData.data" [columnNames]="weeklyOrdersData.columnNames" [options]="weeklyOrdersData.options" style="width: 95%; min-height: 400px;" [ngClass]="{ 'mb-2': true }"></google-chart>
        </mosaic-card-body>
      </mosaic-card>

      <mosaic-card>
        <mosaic-card-header title="Purchase Order List">
          <mosaic-button-group spaced>
            <mosaic-button color="primary" icon="export">Export Purchase Orders (.csv)</mosaic-button>
            <mosaic-button color="primary" icon="export">Export Order Lines (.csv)</mosaic-button>
            <mosaic-button color="advanced" icon="plus">Custom Order Lines Export</mosaic-button>
          </mosaic-button-group>
        </mosaic-card-header>
        <mosaic-card-body>
          <mosaic-row>
            <mosaic-col sm="12">
              <buyer-insights-pagination [totalItems]="100" [page]="1" [itemsPerPage]="10" [maxSize]="5"
                (pageChanged)="changePage($event, true)" (setPageSize)="setPageSize($event)"></buyer-insights-pagination>
            </mosaic-col>
          </mosaic-row>
          <mosaic-row>
            <mosaic-table striped bordered hover class="w-100">
              <table>
                <thead>
                  <tr>
                    <th>PO Date</th>
                    <th>Supplier Company</th>
                    <th>Supplier Email</th>
                    <th>PO Number</th>
                    <th>Order Total Value</th>
                    <th>Order Status</th>
                    <th>Invoice Number</th>
                    <th class="table-actions">Actions</th>
                  </tr>
                </thead>
                <tr *ngFor="let po of purchaseOrderData">
                  <td>{{po.date}}</td>
                  <td>{{po.supplierComp}}</td>
                  <td>{{po.supplierEmail}}</td>
                  <td>{{po.num}}</td>
                  <td>{{po.val}}</td>
                  <td>{{po.status}}</td>
                  <td>{{po.invNum}}</td>
                  <td class="text-center">
                    <a href="{{po.link}}"><mosaic-icon name="view_file" width="18" height="18" class="d-inline"></mosaic-icon></a>
                  </td>
                </tr>
              </table>
            </mosaic-table>
          </mosaic-row>
        </mosaic-card-body>
      </mosaic-card>
    </mosaic-container>

  </div>
</div>